{% extends "base.html" %}
{% block content %}
<div>
<h1>Warenkorb</h1>
<h3>Total: {{ total_price }}Fr.</h3>
{% for item in shopping_cart %}
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="http://127.0.0.1:8000/products/{{ item.id }}/">
      <img src="{{ item.picture }}" alt="{{ item.title }}" width="300px" height="300px">
    </a>
    <div class="desc">{{ item.title }}
      {{ item.price }}Fr.
      <a href="http://127.0.0.1:8000/product/delete/{{ item.id }}/"><button class="delete_button delete_button1">diesen Artikel entfernen</button></a>
</div>
</div>
  </div>

{% endfor %}
<div class="order_now">
  <a href="http://127.0.0.1:8000/email/"><button class="button button1">Bestellen</button></a>
  </div>
{% endblock content %}
